<div class="bg">
  <div class="container">
    <div class="confirme">
      <div class="back">
        <a routerLink="/homeAndSection">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>
      <img class="img" src="../../../assets/Images/6666.png" alt="Image">
      <h3> كروسون بالسجق </h3>
      <p> العدد 8 قطع  </p>
      <p class="money" > جنيه<span>75.00</span> </p>

      <div class="plus">
        <a href="#">+</a>
      </div>
      <img class="imgRight" src="../../../assets/Images/Group 1000002061.png" alt="">
      <img class="imgLeft" src="../../../assets/Images/1 8.png" alt="">
      <div class="icons" >
        <button class="bar"> <i class="fa-solid fa-bars"></i> </button>
        <button class="heart" > <i class="fa-regular fa-heart"></i> </button>
      </div>

      <div class="count">
        <button class="plusNumber" > + </button>
        <span class="number" > 1 </span>
        <button class="minNumber" > - </button>
      </div>

      <p class="addNewOrder">
        أضافة طلب جديد
      </p>
    </div>
  </div>
</div>
<div class="container">
  <hr>
      <div class="free">
        <p>لديك <span>14</span> إسترجاع المنتج <span>مجانا</span></p>
        <i class="fa-solid fa-clock-rotate-left"></i>
      </div>
      <hr>
      <div class="time">
        <p> الطلب هيوصل بعد <span>25</span> دقيقة </p>
        <i class="fa-solid fa-clock-rotate-left"></i>
      </div>

      <div class="cash">
        <h2>الدفع كاش عن الإستلام</h2>
      </div>
      <div class="done">
        <button routerLink="/phoneNumber" >تاكيد الأوردر</button>
      </div>

</div>
