<div class="startShopping">
  <div class="imageBig">
    <img src="../../../assets/Images/Group (6).png" alt="">
  </div>

  <div class="imageSmall">
    <img src="../../../assets/Images/Group (7).png" alt="">
  </div>

  <div class="title">
    <h3>
      كل ما يحتاجة بيتك
    </h3>
  </div>

  <div class="more">
    <p> وأكثر ! </p>
  </div>

  <div class="moreTwo">
    <p> بكثير </p>
  </div>

  <div class="vector">
    <img src="../../../assets/Images/Vector (1).png" alt="">
  </div>

  <div class="vectorTwo">
    <img src="../../../assets/Images/Vector (2).png" alt="">
  </div>



</div>

<div class="info">
  <div class="container">

    <div class="pragraph">
      <p> الأقرب  - الأوفر  - هدايا وخصومات كل يوم </p>
      <img class="img1" src="../../../assets/Images/Vector (1).png" alt="">
      <img class="img2" src="../../../assets/Images/Vector (1).png" alt="">

    </div>

    <div class="row">
      <div class="details">
        <h3> سريع جدأ </h3>
        <p> إحتياجاتك السيومية فى بضع دقائق لا تقلق </p>
      </div>
      <img src="../../../assets/Images/Group (8).png" alt="">
    </div>
    <div class="row">
      <div class="details">
        <h3>  المنقذ وقت ما تحتاجة </h3>
        <p> أحصل على اقل الأسعار والخصومات اليومية والعروض الشهرية  </p>
      </div>
      <img src="../../../assets/Images/Group (9).png" alt="">
    </div>

    <div class="done">
      <button> أبدء بالتسوق الآن </button>
    </div>
  </div>

</div>
