<div class="container">
  <div class="icon">
    <a routerLink="/confirmOrder">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  <div class="info">
    <h2> تفاصيل عنوان التوصيل  </h2>
  </div>
</div>
<hr>
<div class="container">
  <div class="name">
    <label for="">   المنطقة </label>
  </div>
  <div class="phone-input">
    <input type="text" >
  </div>

  <div class="address">
    <div class="circle">
      <div></div>
    </div>
    <h4> ساكن فى كمبوند ؟ </h4>
  </div>

  <div class="name">
    <label for="">   اسم الشارع </label>
  </div>
  <div class="phone-input">
    <input type="text" >
  </div>

  <div class="name">
    <label for="">   نوع المبنى </label>
  </div>
  <div class="phone-input">
    <input type="text" >
  </div>

  <div class="numberhome">
    <div class="build" >
      <div class="name">
        <label for="">   رقم الشقه  </label>
      </div>
      <div class="phone-input">
        <input type="number" >
      </div>
    </div>
    <div class="build" >
      <div class="name">
        <label for="">   رقم الدور  </label>
      </div>
      <div class="phone-input">
        <input type="number" >
      </div>
    </div>
    <div class="build" >
      <div class="name">
        <label for="">   رقم العماره </label>
      </div>
      <div class="phone-input">
        <input type="number" >
      </div>
    </div>
  </div>
  <div class="name">
    <label for="">   معلومات اضافيه  </label>
  </div>
  <div class="phone-input">
    <input type="text" placeholder="لامه مميزه-او مكان مميز ومعروف لديك" >
  </div>
  <div class="name">
    <label for="">    اسم مختصر </label>
  </div>
  <div class="phone-input">
    <input type="text" placeholder="البيت - المكتب - النادى - أخر" >
  </div>

  <div class="done" routerLink="/protfolio">
    <button >تاكيد العنوان </button>
  </div>

</div>
