<div class="splash">
  <div class="image">
    <img src="../../../assets/Images/Group 1000002013.png" alt="">
  </div>

  <img class="img frame" src="../../../assets/Images/FrameTop.png" alt="">
  <img class="img group" src="../../../assets/Images/Group.png" alt="">
  <img class="img group1" src="../../../assets/Images/Group (1).png" alt="">
  <img class="img group2" src="../../../assets/Images/Group (2).png" alt="">
  <img class="img group3" src="../../../assets/Images/Group (3).png" alt="">
  <img class="img group4" src="../../../assets/Images/Group (4).png" alt="">
  <img class="img group5" src="../../../assets/Images/Group (5).png" alt="">



</div>
