<div class="section container">
  <div class="title">
    <h3>الاقسام</h3>
    <a routerLink="/home"><i class="fa-solid fa-arrow-right"></i></a>
  </div>

  <div class="row product ">
    <div class="bigOffer">
      <h4> أقوى العروض</h4>
      <img src="../../../assets/Images/image.png" alt="">
    </div>
    <div class="new">
      <h4>الجديد لدينا</h4>
    </div>
    <div class="egypt" routerLink="/homeAndSection">
      <h4>منتجات مصرية</h4>
    </div>
  </div>

  <div class="row row-box">
    <div class="box">
      <div class="image">
        <img src="./assets/Images/6.png" alt="">
      </div>
      <h4> خضروات</h4>
    </div>
    <div class="box">
      <div class="image dis">
        <img src="./assets/Images/13 1.png" alt="">
      </div>
      <h4> مطاعم</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/9.png" alt="">
      </div>
      <h4>سوبر مركت</h4>
    </div>
    <!-- 2 -->
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/pngegg (11) 1.png" alt="">
      </div>
      <h4> الكترونيات</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4> مشروبات ساخنه</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4>الصيدليات </h4>
    </div>
    <!-- 3 -->
    <div class="box">
      <div class="image">
        <img src="./assets/Images/pngegg (11) 1.png" alt="">
      </div>
      <h4> منتجات ورقية</h4>
    </div>
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4> جزارة</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4>طيور </h4>
    </div>
    <!-- 4 -->
    <div class="box">
      <div class="image">
        <img src="./assets/Images/pngegg (11) 1.png" alt="">
      </div>
      <h4>  حلويات</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4>أسماك </h4>
    </div>
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4> ورد ونباتات</h4>
    </div>
    <!-- 5 -->
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/6666.png" alt="">
      </div>
      <h4> مخبوزات</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4>  مكسرات وسناكس</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4>منظفات </h4>
    </div>
    <!-- 6 -->
    <div class="box">
      <div class="image">
        <img src="./assets/Images/pngegg (11) 1.png" alt="">
      </div>
      <h4>  منتجات الحيوانات</h4>
    </div>
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4> العناية الشخصية</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4>أدوات مكتبية </h4>
    </div>
    <!-- 7 -->
    <div class="box">
      <div class="image">
        <img src="./assets/Images/pngegg (11) 1.png" alt="">
      </div>
      <h4>  منتجات الحيوانات</h4>
    </div>
    <div class="box">
      <div class="image discound">
        <img src="./assets/Images/purepng 1.png" alt="">
      </div>
      <h4> العناية الشخصية</h4>
    </div>
    <div class="box">
      <div class="image">
        <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
      </div>
      <h4>أدوات مكتبية </h4>
    </div>

  </div>

</div>

<div dir="rtl" class="footer">
  <div class="container">
    <div class="row">
      <li><img src="./assets/Images/Group 1000001982.png" alt=""></li>
      <li><img src="./assets/Images/Group 1000001987.png" alt=""></li>
      <li routerLink="/protfolio"><i class="fa-regular fa-user"></i></li>
      <li><img  src="./assets/Images/gift-box 1.png" alt=""></li>
    </div>
  </div>
</div>

