<div dir="rtl">
  <div class="container">
    <div class="nav">
      <div class="row">
        <div class="search">
          <input type="text" class=" w-100" placeholder="نفسك ف ايه ؟">
          <i class="fa-solid fa-magnifying-glass  "></i>
        </div>
        <div class="icon">
          <img width="71" height="30" src="./assets/Images/Group 1000002046.png" alt="">
        </div>
      </div>
    </div>


      <div class="order row ">
      <div class="order-fast">
        <div class=" row">
            <img src="./assets/Images/Frame.png" alt="">
          <div class="info">
            <h5>أوردير سريع جدا</h5>
            <p>يوصلك فى دقائق</p>
          </div>
        </div>
      </div>
      <div class=" wfr ">
        <div class=" row">
            <img src="./assets/Images/Frame (1).png" alt="">
          <div class="info">
            <h5>أوردير التوفير</h5>
            <p>توفير أكتر بكتير </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="slide">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >
      <img  src="./assets/Images/Rectangle 149.png" alt="">
    </ng-template>
    <ng-template carouselSlide >
      <img  src="./assets/Images/Rectangle 149.png" alt="">
    </ng-template>
    <ng-template carouselSlide >
      <img  src="./assets/Images/Rectangle 149.png" alt="">
    </ng-template>
  </owl-carousel-o>
</div>


<div dir="rtl" class="section">
  <div class="container">
    <div class="row">
      <h3>الاقسام</h3>
      <div class="more">
        <a routerLink="/section"> شوف أكثر </a>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="image">
          <img src="./assets/Images/9.png" alt="">
        </div>
        <h4>سوبر مركت</h4>
      </div>
      <div class="box">
        <div class="image dis">
          <img src="./assets/Images/13 1.png" alt="">
        </div>
        <h4> مطاعم</h4>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/6.png" alt="">
        </div>
        <h4> خضروات</h4>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/vector-a-set-of-medicine-and-prescription-removebg-preview-2048x1773 1.png" alt="">
        </div>
        <h4>الصيدليات </h4>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/purepng 1.png" alt="">
        </div>
        <h4> مشروبات ساخنه</h4>
      </div>
      <div class="box">
        <div class="image discound">
          <img src="./assets/Images/pngegg (11) 1.png" alt="">
        </div>
        <h4> الكترونيات</h4>
      </div>
    </div>

  </div>
</div>

<div dir="rtl"  >
  <div class="cafe ">
    <h4 class="container">مطاعم وكافيهات وبقالة قريبة لك</h4>
    <div class="row">
      <div class="box">
        <div class="image">
          <img src="./assets/Images/Group 1000001995.png" alt="">
        </div>
        <div class="time">
          <i class="fa-regular fa-clock"></i>
          <span>15 دقيقة</span>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/Group 1000001996.png" alt="">
        </div>
        <div class="time">
          <i class="fa-regular fa-clock"></i>
          <span>15 دقيقة</span>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/Group 1000001997.png" alt="">
        </div>
        <div class="time">
          <i class="fa-regular fa-clock"></i>
          <span>15 دقيقة</span>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/pngegg (12).png" alt="">
        </div>
        <div class="time">
          <i class="fa-regular fa-clock"></i>
          <span>15 دقيقة</span>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="./assets/Images/Group 1000001999.png" alt="">
        </div>
        <div class="time">
          <i class="fa-regular fa-clock"></i>
          <span>15 دقيقة</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div dir="rtl" class="container day">
  <div class="row">
    <h3>عروض اليوم</h3>
    <div class="more">
      <a href="#">   شوف أكثر </a>
    </div>
  </div>
</div>

<div class="container offer">
  <owl-carousel-o [options]="offersOptions">
    <ng-template carouselSlide >
      <div class="discount">
        <img  src="./assets/Images/highv2 10.png" alt="">
      </div>
    </ng-template>
    <ng-template carouselSlide >
      <img  src="./assets/Images/highv2 10.png" alt="">
    </ng-template>
    <ng-template carouselSlide >
      <img  src="./assets/Images/highv2 10.png" alt="">
    </ng-template>
  </owl-carousel-o>
</div>

<div dir="rtl" class="footer">
  <div class="container">
    <div class="row">
      <li routerLink="/home" ><img src="./assets/Images/Group 1000001982.png" alt=""></li>
      <li><img src="./assets/Images/Group 1000001987.png" alt=""></li>
      <li routerLink="/protfolio"><i class="fa-regular fa-user"></i></li>
      <li><img  src="./assets/Images/gift-box 1.png" alt=""></li>
    </div>
  </div>
</div>
