<div class="container" >
  <div class="icon">
    <a routerLink="/phoneNumber">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  <div class="info">
  <h2>رقم تليفونك من فضلك ؟</h2>
  <p> أدخل الكود المكون من 6 أرقام المبعوت على موبايلك </p>
  </div>
  <div class="phone-input">
    <input type="text" placeholder="4567">
  </div>
  <div class="done">
    <button routerLink="/completeData" >تاكيد </button>
  </div>

  <div class="again">
    <p>  الكود موصلش ؟ <a href="#" > ابعت الكود مره أخرى </a> </p>
  </div>

</div>
