<div class="mar">
  <div class="container">
    <div class="market">
      <!-- <a href="" class="vector">
        <img src="../../../assets/Images/Group 1000002034.png" alt="">
      </a>
      <a href="">ماركت</a>
      <a href="">مخبوزات</a>
      <a href="">خضار وفاكهة</a>
      <a href="">مطاعم</a>
      <a href="">مشروبات</a> -->
      <div>
        <a href="">ماركت</a>
      </div>
      <div>
        <a href="">مخبوزات</a>
      </div>
      <div>
        <a href="">خضار وفاكهة</a>
      </div>
      <div>
        <a href="">مطاعم</a>
      </div>
      <div>
        <a href="">مشروبات</a>
      </div>
      <div class="circle">
        <div class="orange"></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

    </div>
  </div>
</div>

<div class="fresh">
  <a href="#" class="active" >مخبوزات طازجة</a>
  <a href="#" > توست </a>
  <a href="#" > فينو وكاريز</a>
  <a href="#" > عيش </a>
  <a href="#" > مقرمشات</a>
</div>

<div class="container bread">
  <div>
    <h3>مخبوزات</h3>
  </div>
  <div class="row">
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="info">
        <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
        <span class="number">26%</span>
        <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
        <h3>كروسون بالسجق</h3>
        <p> العدد 8 قطعة </p>
        <div class="plus">
          <a routerLink="/confirmOrder">+</a>
        </div>
      </div>
      <div class="price">
        <div class="dis" >
        <p class="active" >98</p>
        </div>
        <div>
          <p>بدل</p>
        </div>
        <div class="bos" >
          <p  >75</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div dir="rtl" class="footer">
  <div class="container">
    <div class="row">
      <li routerLink="/home" ><img src="./assets/Images/Group 1000001982.png" alt=""></li>
      <li><img src="./assets/Images/Group 1000001987.png" alt=""></li>
      <li routerLink="/protfolio"><i class="fa-regular fa-user"></i></li>
      <li><img  src="./assets/Images/gift-box 1.png" alt=""></li>
    </div>
  </div>
</div>
