<div class="container" >
  <div class="icon">
    <a routerLink="/confirmOrder">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  <div class="info">
    <p>مرحباً بك</p>
  <h2>رقم تليفونك من فضلك ؟</h2>
  <p>هيجيلك رسالة فيها كود سرى لتاكيد رقمك</p>
  </div>
  <div class="phone-input">
    <div class="flag">
        <img src="../../../assets/Images/image 18.png" alt="">
        <span>+20</span>
    </div>
    <input type="text" placeholder="Enter Number">
  </div>
  <div class="done">
    <button routerLink="/codeNumber" >تاكيد </button>
  </div>
</div>
