<div class="basket">
  <div class="contaienr">
    <div class="row">
      <button> مسح السلة </button>
      <h3> منتجات فى
        <br>
        السلة
      </h3>
    </div>
  </div>
</div>
<!--  هيتكرر  -->
<div class="productsBasket">
  <div class="container">
    <div class="bread">
      <div class="row">
        <div class="count">
          <button class="plusNumber" > + </button>
          <span class="number" > 1 </span>
          <button class="minNumber" > - </button>
        </div>

        <div class="box">
          <div class="info">
            <img class="imgTop" src="../../../assets/Images/1 8.png" alt="">
            <span class="number">26%</span>
            <img class="imgBig" src="../../../assets/Images/6new.png" alt="">
            <h3>كروسون بالسجق</h3>
            <p> العدد 7 قطعة </p>
            <div class="plus">
              <a routerLink="/confirmOrder">+</a>
            </div>
          </div>
          <div class="price">
              <p>جنيه</p>
              <p  >75.00</p>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
</div>

<div class="bottom" routerLink="/paymentSteps">
  <div class="row">
    <i class="fa-solid fa-arrow-left"></i>
    <h3> ادفع الآن 75.00 جنية </h3>
  </div>
</div>
