<div class="bigDiv">
  <div class="paymentSteps">
    <div class="contaienr">
      <div class="row">
        <div class="arrow">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="title">
          <h3> خطوات الدفع </h3>
          <p> يوجد منتج1 فى السلة  </p>
          <div class="NB">
            <p> <span> ملحوظة </span> : لانقبل أورد اقل من 200 ج </p>
          </div>
        </div>
        <div class="image">
          <div>
          <img src="../../../assets/Images/6new.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contaienr">
    <div class="location">
      <div class="address">
        <h2> المنتج هيوصلك علي العنوان التالى  </h2>
        <div class="row">

            <i class="fa-solid fa-pen"></i>
            <div class="row">
              <p> 68 أحد عرابى المهندسين الجيزة </p>
              <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <hr>
        <h2> أختارموعد وصول الطلب </h2>
        <div class="time">
          <div class="box">
            <div class="now">
              <div class="row">
                <div class="circle" >
                  <div></div>
                </div>
                <div>
                  <h2> الآن  </h2>
                  <p> ويوصل فى خلال 15 دقيقة </p>
                </div>
              </div>

            </div>
            <div class="price">
              <div>
                <p>199.99 جنيه</p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="now">
              <div class="row">
                <div class="circle" >
                  <div></div>
                </div>
                <div>
                  <h2> بعد ساعة من الآن  </h2>
                  <p>  ويوصل فى خلال 80 دقيقة </p>
                </div>
              </div>

            </div>
            <div class="price">
              <div>
                <p>99.99 جنيه</p>
              </div>
            </div>
          </div>
          <div class="box3">
            <div class="now">
              <div class="row">

                <div>
                  <h2> بعد 3 ساعة من الآن </h2>
                  <p>  ويوصل فى خلال 180 دقيقة  </p>
                </div>
              </div>

            </div>
            <div class="price">
              <div>
                <p> 80 جنيه</p>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="methods">
          <h2> أختار طرق الدفع </h2>
          <div class="box box3">
            <div class="row">
              <div class="circle">
                <div></div>
              </div>
              <h2> كاش عند التوصيل </h2>
            </div>
          </div>
          <div class="box">
            <div class="row">
              <div class="circle">
                <div></div>
              </div>
              <h2>   فاليو </h2>
            </div>
          </div>
          <div class="box">
            <div class="row">
              <div class="circle">
                <div></div>
              </div>
              <h2> بطاقة الأئتمان </h2>
            </div>
          </div>
          <div class="code">
            <div class="row">
              <div class=" circleBig ">
                <div></div>
              </div>
              <div class="row title">
                <img src="../../../assets/Images/gift-box 1.png" alt="">
                <h2> هل لديك كود خصم ؟ </h2>
              </div>

            </div>
          </div>
          <div class="box">
            <div class="row">
              <div class="activation">
                <p> تفعيل </p>
              </div>
              <h2>  121331 </h2>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="details">
    <div class="title">
    <h3> تفاصيل الفاتورة </h3>
    </div>
    <div class="box">
      <div class="row">
        <p> 75.00 جنية </p>
        <h4> سعر المنتج </h4>
      </div>
    </div>
    <div class="box">
      <div class="row">
        <p> 75.00 جنية </p>
        <h4>  رسوم التوصيل </h4>
      </div>
    </div>
    <div class="box">
      <div class="row">
        <p> 75.00 جنية </p>
        <h4>  رسوم الخدمة </h4>
      </div>
    </div>
    <div class="box last">
      <div class="row">
        <p> 75.00 جنية </p>
        <p> الاجمالى  </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="done"  >
      <button  > ادفع الان </button>
    </div>
  </div>

</div>

<div class="overflow" >
  <div class="chooseWallet">

    <div class="container">

      <div class="icon" >
        <i  class="fa-solid fa-xmark"></i>
      </div>
      <div class="title">
        <h3> أختار  محفظتك الإلكترونية    </h3>
      </div>

      <div class="box">
        <div class="row">
          <div>
            <div></div>
          </div>
          <h2>  دفع يد بيد </h2>
        </div>
      </div>
      <div class="box box3">
        <div class="row">
          <div class="circle">
            <div></div>
          </div>
          <h2>  فودافون كاش </h2>
        </div>
      </div>
      <div class="box">
        <div class="row">
          <div>
            <div></div>
          </div>
          <h2>  وي كاش </h2>
        </div>
      </div>
      <div class="box">
        <div class="row">
          <div>
            <div></div>
          </div>
          <h2>  إتصالات كاش </h2>
        </div>
      </div>
      <div class="box">
        <div class="row">
          <div>
            <div></div>
          </div>
          <h2>  أورنج  كاش  </h2>
        </div>
      </div>

      <div class="done">
        <button>  تأكيد  نوع الدفع </button>
      </div>
    </div>

  </div>
</div>



<!--  -->
