
<div class="container ">
  <div class="discountCodes">
    <img src="../../../assets/Images/Group 1000002117.png" alt="">
  <div class="discount">
    <h2> أكواد الخصم</h2>
    <a href="">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>

  <p>
    لديك 7 كود خصم هذ الشهر
  </p>
  </div>

  <div class="dis">

    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
    <div class="row last">
      <div class="image">
        <img src="../../../assets/Images/gift-box 1.png" alt="">
        <h4> كود الخصم </h4>
        <div class="code">
          <span>57A1B</span>
        </div>
      </div>
      <div class="info">
        <h3> خصم  100 جنية من ordaring   </h3>
        <p>
          خصم 100 جنيه من ordering لما تشترى مشتريات 100 جنيه
        </p>
        <hr>
        <h4> <span>أحظر</span> الكود سينتهى فى  يوليو 1 .2024 </h4>
      </div>
    </div>
  </div>

</div>
<div dir="rtl" class="footer">
  <div class="container">
    <div class="row">
      <li routerLink="/home" ><img src="./assets/Images/Group 1000001982.png" alt=""></li>
      <li><img src="./assets/Images/Group 1000001987.png" alt=""></li>
      <li routerLink="/protfolio"><i class="fa-regular fa-user"></i></li>
      <li><img  src="./assets/Images/gift-box 1.png" alt=""></li>
    </div>
  </div>
</div>
